<div cdkDropListGroup>
    <div class="board">
        <ng-container>
            <ng-container *ngFor="let i of oneSixtyNine">
                <app-gameboard-square *ngIf="xy(i) as pos" [black]="isBlack(pos)" cdkDropList 
                [cdkDropListData]="testObject[i]" 
                (cdkDropListDropped)="drop($event)"
                [ngClass]="{'single-item-container': (testObject[i].length <= 1), 'double-item-container': (testObject[i].length > 1)}">
                    <!-- <app-dummyunit *ngIf="pos.x === dp.x && pos.y === dp.y" cdkDrag></app-dummyunit> -->
                    <ng-container *ngIf="!isBlack(pos)">

                        <app-dummyunit *ngFor="let item of testObject[i]; index as k" 
                        [name]="i" 
                        [squareArray]="testObject[i]" 
                        [index]="k" cdkDrag>
                        </app-dummyunit>

                    </ng-container>
                </app-gameboard-square>
            </ng-container>
        </ng-container>
    </div>
    
    <div class="hand">
        <ng-container *ngFor="let i of three">
            <app-square
            cdkDropList
            id="hand"
            [cdkDropListData]="testInHand[i]"
            [cdkDropListEnterPredicate]="falsePredicate"
            (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of testInHand[i]" cdkDrag>{{item}}</div>
            </app-square>
        </ng-container>
    </div>
</div>

    