<div class="enemyhand">
    <div class="space"></div><div class="space"></div><div class="space"></div>
</div>

<div class="game">
    <div class="wall"></div><div class="wall"></div><div class="wall"></div><div class="space"></div><div class="wall"></div><div class="wall"></div><div class="wall"></div>
    <div class="wall"></div><div class="wall"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="wall"></div><div class="wall"></div>
    <div class="wall"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="wall"></div>
    <div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div>
    <div class="wall"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="wall"></div>
    <div class="wall"></div><div class="wall"></div><div class="space"></div><div class="space"></div><div class="space"></div><div class="wall"></div><div class="wall"></div>
    <div class="wall"></div><div class="wall"></div><div class="wall"></div><div class="space"></div><div class="wall"></div><div class="wall"></div><div class="wall"></div>
</div>

<div class="hand">
    <div class="space"></div><div class="space"></div><div class="space"></div>
</div>