.register {
    margin-top: 1rem;
    padding: 1rem;
}
.alert {
    margin-top: 3%;
}
.center{
    width: auto;
    margin: auto;
    padding: 10px;
    text-align: center
}
.width-full {
    width: 100%;
}

.btn {
    margin-top: 10px;
    width: 100%;
}