<div class="register">
    <form>

        <mat-grid-list cols="12" rowHeight="5rem" gutterSize=".5rem">
            <mat-grid-tile [colspan]="6" [rowspan]="1">
                <mat-form-field class="form-group width-full" appearance="fill" appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput [(ngModel)]="user.firstName" name="fname" class="form-control" id="inputFirstName" [formControl]="first" required>
                    <mat-error *ngIf="first.hasError('required')">{{errorMessages.nothing}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6" [rowspan]="1">
                <mat-form-field class="form-group width-full" appearance="fill" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput [(ngModel)]="user.lastName" name="lname" class="form-control" id="inputLastName" [formControl]="last" required>
                    <mat-error *ngIf="last.hasError('required')">{{errorMessages.nothing}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="5" [rowspan]="1">
                <mat-form-field class="form-group width-full" appearance="fill" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput [(ngModel)]="user.username" type="text" name="username" class="form-control" [formControl]="username" required>
                    <mat-error *ngIf="username.hasError('required')">{{errorMessages.nothing}}</mat-error>
                    <mat-error *ngIf="username.hasError('minlength')">{{errorMessages.short}}</mat-error>
                    <mat-error *ngIf="taken">{{errorMessages.taken}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="7" [rowspan]="1">
                <mat-form-field class="form-group width-full" appearance="fill" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="user.email" [formControl]="email" required type="text" name="email" class="form-control">
                    <mat-error *ngIf="email.hasError('required')">{{errorMessages.nothing}}</mat-error>
                    <mat-error *ngIf="email.hasError('email')">{{errorMessages.invEmail}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="12" [rowspan]="1">
                <mat-form-field class="form-group width-full" appearance="fill" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="user.password" type="password" name="password" class="form-control" [formControl]="pass" required>
                    <mat-error *ngIf="pass.hasError('minlength')">{{errorMessages.short}}</mat-error>
                    <mat-error *ngIf="pass.hasError('required')">{{errorMessages.nothing}}</mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <button mat-raised-button color="primary" class="btn" type="submit" (click)="registerUser()">Register</button>
    </form>
</div>