.spacer {
    flex: 1 1 auto;
}
.form-group {
    padding: 1.5%
}

.alert {
    margin-top: 3%;
}
.center{
    width: auto;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.nav-center{
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}