<div class="container">

    <div class="title-page">
        <span>Welcome back ...User...</span>
    </div>

    <mat-grid-list cols="12" rowHeight="700px" gutterSize="2rem">
        <mat-grid-tile [colspan]="12">

            <div class="tile-container">
                <mat-tab-group animationDuration="0ms" dynamicHeight>
                    <mat-tab label="Available Cards"> 
                    
                        <button mat-raised-button color="accent" (click)="getHero()" style="margin-top: 20px; width: 100%;">GET DUMMY HERO</button>

                        <app-hero-card [heroes]="heroes"></app-hero-card>
                    
                    </mat-tab>

                    <mat-tab label="Decks"> 

                        <button mat-raised-button color="accent" (click)="getHero()" style="margin-top: 20px; width: 100%;">GET DUMMY HERO</button>

                        <app-ingame-card-hero [heroes]="heroes"></app-ingame-card-hero>
                        
                    </mat-tab>
                </mat-tab-group>
            </div>

        </mat-grid-tile>

<!--         <mat-grid-tile [colspan]="3">

            <div class="tile-container-friends">
                <span class="tile-container-title"> Friends </span>
                <div class="tile-container-body">
                    
                </div>
            </div>

        </mat-grid-tile> -->
    </mat-grid-list>
</div>