mat-grid-tile {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.title-page {
    margin: 1rem 0rem 2rem 0rem;
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.tile-container-friends, .tile-container {
    height: 100%;
    width: 100%;
}

.tile-container-friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.tile-container-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.tile-container-body {
    height: 100%;
}



.container {
    height: calc(100% - 64px);
    margin: 0%;
    padding: 1rem 3rem;
}