<table style="border-collapse: collapse; width: 100%; margin-top: 30px;">
    <tbody>
    <tr>
    <td style="width: 350px;"> 
        <div>
            <button class="btn save-btn" mat-raised-button (click)="saveDeck()">Save Deck</button>
            <br><label [style.color]="saveStatusColor"><i>{{ saveStatus }}</i></label>
            <div *ngIf="deck.length > 0">
                <span *ngFor="let card of deck" style="vertical-align: top;">
                    <button class="btn card-btn" mat-raised-button (click)="removeCard(card)">{{ getCard(card).name }}</button>
                    <br>
                </span>
            </div>
        </div>
    </td>
    <td> 
        <div class="inv">
            <app-hero-card *ngFor="let card of cards" [hero]="card" [isHero]="isHero" [parent]="this"></app-hero-card> 
        </div>
    </td>
    </tr>
    </tbody>
</table>