<div class="login">
  <form>
    <mat-form-field class="form-group full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        [(ngModel)]="login.username"
        type="text"
        name="username"
        class="form-control"
      />
    </mat-form-field>
    <mat-form-field class="form-group full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="login.password"
        type="password"
        name="password"
        class="form-control"
      />
    </mat-form-field>

    <div class="error-label">
        <label class="warn-label"><i>{{ status }}</i></label>
    </div>

    <button mat-raised-button color="primary" class="btn" type="submit" (click)="logIn()">Login</button>
  </form>
</div>
