<h2 class = "center">Login</h2>
<div class = "center">
    <form>
        <mat-form-field class = "form-group center">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)] = "user.username" type = "text" name = "username" class = "form-control">
        </mat-form-field>
        <br>
        <mat-form-field class = "form-group center">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)] = "user.password" type = "text" name = "password" class = "form-control">
        </mat-form-field>
        <br>
        <button type="submit" class = "btn center" (click)=logIn()>Login</button>
    </form>
</div>