<style>
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    background-color: #555;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 1px;
}
</style>

<mat-card class="hero-card" [style.background-color]="getBackground()">
<div class="card-inner" [style.background-color]="getForeground()">
  <table style="width: 100%;">
    <tbody>
    <tr>
    <td style="width: 24px;"> <p class="circle"> {{ hero.powerCost }} </p> </td>
    <td> <label  class="title" style="width: 100px;"><b>{{ hero.name }}</b></label>  </td>
    </tr>
    </tbody>
  </table>

  <img mat-card-image class="hero-image" [src]="hero.image" (error)="updateUrl($event)" alt="Hero Image">

  <div style="text-align: left; margin-bottom: 4px; margin-left: 2px;">
  <label class="stats"><b>{{ hero.ability }}:</b> {{ hero.abilityDesc }}</label>
  </div>

  <table style="width: 100%;">
    <tbody>
    <tr>
    <td style="width: 42%;"> <label class="stats">Power: {{ hero.power }}</label> </td>
    <td style="width: 58%;"> <label class="stats">Strength: {{ hero.strength }}</label> </td>
    </tr>
    <tr>
    <td style="width: 42%;"> <label class="stats">Combat: {{ hero.combat }}</label> </td>
    <td style="width: 58%;"> <label class="stats">Durability: {{ hero.durability }}</label> </td>
    </tr>
    <tr>
    <td style="width: 42%;"> <label class="stats">Speed: {{ hero.speed }}</label> </td>
    <td style="width: 58%;"> <label class="stats">Intelligence: {{ hero.intelligence }}</label> </td>
    </tr>
    </tbody>
  </table>

</div>
<button *ngIf="parent!=null" class="btn add-btn" mat-raised-button (click)="addCard(hero.id)" [style.background-color]="getForeground()">Add Card</button>
</mat-card>
