.form-group {
    padding: 1.5%
}

.alert {
    margin-top: 3%;
}
.center{
    width: auto;
    margin: auto;
    padding: 10px;
    text-align: center
}
.input{
    width: 100%;
    height: 8px; 
    border-bottom: 1px solid black; 
    text-align: center
}