/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Comfortaa', cursive !important;
}
