div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    background-color: inherit;
    cursor: pointer;
}

.only-item {
    width: 70%;
    height: 70%;
    background: url('../../../assets/generic-hero.jpg');
    background-size: cover;
}

.first-item {
    background: url('../../../assets/generic-hero.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
}

.second-item {
    background: url('../../../assets/superman.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
}