div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    background-color: inherit;
    cursor: pointer;
    color: azure;
    font-weight: 600;
}

.only-item {
    width: 70%;
    height: 70%;
    background-size: cover;
}

.first-item {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.second-item {
    width: 100%;
    height: 100%;
    background-size: cover;
}

app-hero-card {
    position: absolute;
    top: 30px;
}